
<h2>Type</h2>
<div class="button group">
  <ion-radio-group value="type">
    <ion-radio value="car" justify="end">Car</ion-radio><br />
    <ion-radio value="motorbike" justify="end">Motorbike</ion-radio><br />
    <ion-radio value="hovercraft" justify="end">Hovercraft</ion-radio><br />  
  </ion-radio-group>
</div>


<h2>Tires</h2>
<div class="button group">
  <ion-radio-group value="tires">
      <ion-radio value="hard" justify="end">Hard</ion-radio><br />
      <ion-radio value="soft" justify="end">Soft</ion-radio><br />
  </ion-radio-group>
</div>